
.signInButton{
  height: 3rem;
  border-radius: 3rem;
  background-color: #1f2729;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 0 1.5rem;
  font-weight: bold;

  svg{
    width: 20px;
    height: 20px;
  }

  svg:first-child{
    margin-right: 1rem;
  }

  transition: filter 0.4s;
  &:hover{
    filter: brightness(0.8);
  }

  .exitIcon{
    margin-left: 8px;
  }

}